Package: com.myh1000.package
Name: Test Package
Version: 1.0
Architecture: iphoneos-arm
Description: Test Package
Depiction:
Homepage: https://myh1000.github.io/cydia
Maintainer: Michael Huang <myh1000@gmail.com>
Author: Michael Huang <myh1000@gmail.com>
Section: Tools
